server:
    port: 8080
    contextPath: /lab-webapp
    session-timeout: 10000

logging:
    level:
        org.springframework.web: ERROR
        org.hibernate: ERROR
        level.org.hibernate: ERROR
        com.ethertion.lab: DEBUG